# Fplay Debian12 无桌面最小系统 自动应答(非交互)
d-i debconf/frontend select noninteractive
d-i debconf/priority select critical
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string fplay
d-i netcfg/get_domain string local
d-i mirror/country string manual
d-i mirror/http/hostname string mirrors.aliyun.com
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i clock-setup/utc boolean true
d-i time/zone string Asia/Shanghai
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i passwd/root-login boolean false
d-i passwd/user-fullname string fplay
d-i passwd/username string fplay
d-i passwd/user-password password fplay
d-i passwd/user-password-again password fplay
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false
d-i tasksel:tasksel/first multiselect standard
d-i pkgsel/include string openssh-server alsa-utils libasound2 file
d-i pkgsel/upgrade select none
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string /dev/vda
d-i finish-install/reboot_instead boolean false
d-i finish-install/poweroff boolean true
d-i popularity-contest/participate boolean false
d-i pkgsel/run_tasksel boolean false
d-i apt-setup/contrib boolean false
d-i apt-setup/non-free boolean false
d-i apt-setup/services-select multiselect none
